*, *::before, *::after {
  box-sizing: border-box;
  border-collapse: collapse;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid snow;
  background-color: rgb(48, 43, 49);
  box-shadow: 0 0 12px black;
  z-index: 1;
}

.header input {
  font-size: 16px;
  width: 15rem;
  color: snow;
  background-color: #333;
  border: 1px solid #999999;
  margin: 0 12px;
  padding: 6px;
}

.header input:hover {
  border: 1px solid snow;
}

.header input:focus {
  border: 1px solid snow;
  outline: none;
}

.header .title-container {
  position: absolute;
  margin: 0;
  left: 10px;
  color: snow;
  pointer-events: none;
}

.header button {
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  color: snow;
  background-color: rgb(104, 123, 141);
  border: 1px solid snow;
}

.scroll-container {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.lists-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 12px;
  box-sizing: border-box;
}

/* .lists-container div div:nth-child(2n - 1) {
  background-color: #393939;
} */

.list-type-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  margin: 0;
  padding: 30px 12px 30px;
}

.list-type-title h1 {
  margin: 0;
  padding: 0 12px 0 0;
}

.list-type-title div {
  margin: 0;
  padding: 0;
  height: 10px;
  width: auto;
  flex-grow: 1;
}

.list-type-title .sell-list-marker {
  background-color: lightgreen;
}

.list-type-title .buy-list-marker {
  background-color: lightskyblue;
}

.lists-container .listing-container {
  display: flex;
  flex-wrap: wrap;
  height: 140px;
  width: 600px;
  padding: 6px 12px;
  margin-top: 12px;
  box-sizing: border-box;
}

.sell-list-container .listing-container {
  border-left: 5px solid lightgreen;
}

.buy-list-container .listing-container {
  border-left: 5px solid lightskyblue;
}


.listing-container h2 {
  width: 100%;
  font-size: 24px;
  margin: 10px 0;
}

.listing-container div {
  font-size: 18px;
  width: 100%;
  margin: 4px 0;
}

/* .sell-list-container .listing-item {
  color: lightgreen;
}

.buy-list-container .listing-item {
  color: lightskyblue;
} */

@media all and (width <= 1220px) {
  .scroll-container {
    max-width: 610px;
  }
  .lists-container {
    max-width: 600px;
  }
}
